@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fe5e41;
  align-items: center;
  height: 120px;
  padding: 40px 112px;
}

.left {
  display: flex;
  justify-content: space-around;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.ul {
  display: flex;
  margin-left: 10px;
}

.ul li {
  list-style-type: none;
  margin: 0 30px;
  color: white;
  cursor: pointer;
}

.ul li a {
  color: white;
  text-decoration: none;
}

.ul li a:hover {
  color: #1e1e1e;
  padding-bottom: 45px;
  border-bottom: 5px solid black;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px 4px 0px 0px;
  height: 56px;
  padding: 0 10px;
}

.input {
  background-color: #f2f2f2;
  border: none;
  margin: 0 5px;
}

.search-icon {
  cursor: pointer;
}

.input:focus {
  outline: none;
}

.right {
  display: flex;
}

.right div {
  margin: 0 10px;
}

.right img {
  cursor: pointer;
}

.cart-icon-container {
  position: relative;
}

.number {
  position: absolute;
  top: 10px;
  left: 12px;
}

.container {
  padding: 40px 112px;
  position: relative;
}

.section-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.first-row {
  display: flex;
  gap: 0 10px;
}

.first-row p {
  font-size: 13px;
  line-height: 18px;
  color: #1e1e1e;
  cursor: pointer;
}

.name-of-product-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}

.name-of-product h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #1e1e1e;
  font-family: "Poppins";
}

.icons {
  display: flex;
  gap: 0 20px;
}

.icons img {
  cursor: pointer;
}

.product-details {
  display: flex;
  margin-top: 36px;
  justify-content: space-between;
}

.picture-of-product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 392px;
}

.picture-of-product img {
  cursor: pointer;
}

.details-about-product {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  background-color: #f2f2f2;
  height: 450px;
  width: 488px;
}

.details-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bold-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.details-text p {
  font-size: 16px;
  line-height: 24px;
  color: #1e1e1e;
}

.details-about-product span {
  color: #fe5e41;
}

.dropdown-menu {
  display: flex;
  gap: 0 30px;
  margin-top: 20px;
}

.size-menu,
.color-menu {
  background-color: white;
  padding: 3px 12px 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 4px 4px 0px 0px;
}

.model p,
.color p {
  font-size: 11px;
  line-height: 18px;
  color: #6e6e6e;
}

.size-dropdown,
.color-dropdown {
  display: flex;
  justify-content: space-between;
}

.size-dropdown p,
.color-dropdown p {
  font-size: 14px;
  line-height: 18px;
  color: #1e1e1e;
}

.checkbox-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 12px;
}

.first-input-container,
.second-input-container {
  display: flex;
  gap: 0 8px;
}

.first-input-container label,
.second-input-container label {
  font-size: 14px;
  line-height: 24px;
  color: #1e1e1e;
}

.checkbox-input {
  width: 18px;
  height: 20px;
}

.checkbox-input[type="checkbox"] {
  accent-color: #00a878;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.btn {
  width: 140px;
  height: 48px;
  cursor: pointer;
  font-family: "Poppins";
}

.green-btn {
  background: #00a878;
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.inverted-green-btn {
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 4px;
  color: #00a878;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.title-container {
  display: flex;
  margin-bottom: 20px;
  gap: 0 32px;
  padding: 0 112px;
}

.gray-line {
  height: 1px;
  width: 100%;
  background: #dedede;
}

.description-container {
  display: flex;
  flex-direction: column;
}

.product-description-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  height: 570px;
  padding: 0 112px;
}

.product-description {
  display: flex;
  flex-direction: column;
}

.description-title {
  margin-bottom: 32px;
}

.description-title h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #1e1e1e;
  font-family: "Poppins";
}

.description {
  max-width: 488px;
  margin-bottom: 24px;
}

.description p {
  font-size: 16px;
  line-height: 24px;
  color: #1e1e1e;
}

.white-btn {
  color: #fe5e41;
  background-color: white;
  border: 1px solid #dedede;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.technical-spec-container {
  padding: 20px 110px;
  background: #f2f2f2;
  height: 460px;
}

.technical-title {
  margin: 40px 0 30px 0;
}

.technical-title h1 {
  font-family: "Poppins";
}

.table {
  border-collapse: collapse;
  width: 1216px;
}

.table tr {
  height: 40px;
}

.table td {
  padding: 8px 20px;
  text-align: left;
}

.row-title th {
  text-align: left;
  color: #fe5e41;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 20px;
  text-align: left;
}

.white {
  background: white;
  border: none;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: white;
  width: 480px;
  height: 412px;
  display: flex;
  flex-direction: column;
  padding: 20px 32px;
  border-radius: 4px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.top-row h1 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Poppins";
}

.close-modal {
  cursor: pointer;
}

.paragraph {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-inputs input {
  background: #f2f2f2;
  border-radius: 4px 4px 0px 0px;
  width: 416px;
  height: 56px;
  border: none;
  padding: 19px 16px;
}

.modal-inputs input:focus {
  outline: none;
}

.modal-inputs textarea {
  background: #f2f2f2;
  border-radius: 4px 4px 0px 0px;
  width: 416px;
  height: 128px;
  border: none;
  padding: 19px 16px;
}

.modal-inputs textarea:focus {
  outline: none;
}

.modal-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  gap: 10px;
}

.button {
  width: 160px;
  height: 48px;
  font-family: "Poppins";
}

.inverted-btn {
  border: none;
  background-color: white;
  text-align: center;
  color: #fe5e41;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.orange-btn {
  background-color: #fe5e41;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 376px) {
  .header {
    height: 70px;
    padding: 5px 24px;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 5px 30px 0 0;
  }

  .line {
    height: 2px;
    width: 20px;
    background: white;
  }

  .nav {
    display: none;
  }

  .input-container {
    display: none;
  }

  .logo {
    height: 28px;
    width: 105px;
  }

  .right {
    align-items: center;
    margin-top: 5px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 24px;
    max-width: 375px;
  }

  .section-container {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .name-of-product-section {
    position: relative;
  }

  .name-of-product h1 {
    font-size: 28px;
    line-height: 36px;
    max-width: 330px;
  }

  .icons {
    position: absolute;
    right: 5px;
    top: 45px;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    width: 330px;
  }

  .picture-of-product {
    height: 210px;
    position: relative;
  }

  .picture-of-product .eclipse-arrow-left {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 5px;
  }

  .picture-of-product .eclipse-arrow-right {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 5px;
  }

  .picture-of-product .bicycle {
    width: 330px;
    height: 210px;
  }

  .details-about-product {
    height: 524px;
    padding: 24px 24px;
    width: 328px;
  }

  .details-text {
    max-width: 288px;
  }

  .details-text p {
    font-size: 14px;
    line-height: 20px;
  }

  .dropdown-menu {
    flex-direction: column;
    gap: 16px;
  }

  .size-menu,
  .color-menu {
    width: 288px;
  }

  .checkbox-inputs {
    gap: 14px;
  }

  .first-input-container,
  .second-input-container {
    gap: 12px;
  }

  .first-input-container label,
  .second-input-container label {
    width: 100%;
  }

  .title-container {
    justify-content: space-between;
    padding: 5px 24px;
  }

  .product-description-container {
    flex-direction: column-reverse;
    max-width: 375px;
    justify-content: center;
    align-items: center;
    height: 885px;
    margin-top: 0;
    padding: 0;
  }

  .product-description {
    margin-top: 20px;
    align-items: flex-start;
    padding: 5px 24px;
  }

  .description-btn-container {
    display: flex;
    align-items: flex-start;
  }

  .description-section-image img {
    height: 280px;
    width: 375px;
  }

  .technical-spec-container {
    padding: 0 20px;
    overflow-x: scroll;
  }

  .modal-bg {
    width: 375px;
  }

  .modal {
    height: 436px;
    width: 330px;
    padding: 20px 24px;
  }

  .modal-inputs input {
    width: 280px;
  }

  .modal-inputs textarea {
    width: 280px;
  }
}
